*{
    padding: 0;
    margin: 0;
    list-style: 0;
    outline: 0;
    border: 0;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    -box-sizing:border-box;
}
/*
    login pages
*/
body{
    background-color: #f0eaea;
}
#view-conteudo{
    position: fixed;
    float: left;
    width: 100%;
    height: 100%;

    z-index: 1;
}
#conteudo-view{
    position: absolute;
    right: 0;
    float: right;
    width: 300px;
    height: 100%;

    background-color: #3d7fb6;

}#conteudo-view h1{
   font: 3em 'Audiowide',cursive;
   color: #f3f3f3;
   float: left;
   width: 100%;
   margin-top: 70px;

}#conteudo-view p{

    font: 1.25em 'Audiowide',cursive;
    color: #f3f3f3;
    float: left;
    width: 100%;
}
#conteudo-view form,
#conteudo-view form label{
    outline: none;
    display: block;
    background: rgba(0,0,0,0.1);
    width: 100%;
    border: 0;
    border-radius: 28px;
    box-sizing: border-box;
    padding: 12px 20px;
    color: gray;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    transition: 0.3s ease;
}
#conteudo-view submit{
    border-radius: 28px;
    background:#3d7fb6;
    border-color:#478ECEFF ;
    width: 20%;
    margin-left: 100px;
    margin-top: 20px;

}
#conteudo-view submit input{
    font-weight: 800;
    text-transform: uppercase;
    line-height: 0px;
    background:#3d7fb6;
    color: #f9f9f9;
}

/*
menu
*/
#nav-lateral{
    position: fixed;
    float: left;
    width: 220px;
    height: 100%;
    border-right: 1px solid #e9e9e9 ;
    box-shadow: 0 0 15px rgba(0, 0, 0, .15);
    background-color: #fff;
}
#nav-lateral ul{
    float: left;
    width: 100%;
}
#nav-lateral ul li{
    float: left;
    width: 100%;
}
#nav-lateral ul li a{
    padding-left: 40%;
    float: left;
    width: 100%;
    height: 65px;
    border-bottom: 1px solid #e9e9e9;
}
#nav-lateral ul li a h3{
    width: 100%;
    height: 80px;
    font: 1em 'Audiowide',cursive;
    color: #2b2a2a;
}

#nav-lateral ul li a:hover h3{

    color: #3d7fb6;
}
/*
form padrão
*/
#form-padrao {

    float: left;
    width: 100%;
    padding: 20px 20px 20px 240px;
}
#form-padrao label{
    float: left;
    width: 49%;
    height: 60px;
    padding: 7px 15px;
    border: 1px solid #e9e9e9;
    border-radius: 5px;
    margin-bottom: 20px;
}
#form-padrao label:nth-last-of-type(odd){
    margin-left: 2%;
}
#form-padrao  label span{
    float: left;
    width: 100%;
    font: 400 .75em 'Arial';
    color: rgba(0,0,0,0.5);
    padding-bottom: 5px;
}

#form-padrao  label input {

    outline: none;
    display: block;
    background: rgba(0,0,0,0.1);
    width: 100%;
    border: 0;
    border-radius: 28px;
    box-sizing: border-box;
    padding: 12px 20px;
    color: gray;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    transition: 0.3s ease;

}

#form-padrao label.submit{
    border-radius: 28px;
    background:#3d7fb6;
    border-color:#478ECEFF ;
    width: 20%;
    margin-left: 100px;
    margin-top: 20px;

}
#form-padrao label.submit input{
    font-weight: 800;
    text-transform: uppercase;
    line-height: 0px;
    background:#3d7fb6;
    color: #f9f9f9;
}
.container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
#tabela-user{

    width: 800px;
    border-collapse: collapse;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0,0,0,0.1);
}
#tabela-user thead {
    text-transform: uppercase;
    background-color: #3d7fb6;
}
#tabela-user thead tr {
    height: 40px;
    background-color: #3d7fb6 ;
}

#tabela-user tbody tr {
    height: 30px;
    text-align: left;
}
th,
td {
    padding: 15px;
    background-color: rgba(255,255,255,0.2);

}

th {
    text-align: left;
}
tbody ,

td {
    position: relative;
}

td:before {
     content: "";
     position: absolute;
     left: 0;
     right: 0;
     top: -9999px;
     bottom: -9999px;
     background-color: rgba(255,255,255,0.2);
     z-index: -1;
 }
